{% if site.data.settings.advanced_settings.google-tag-manager %}
<!-- Google Tag Manager IAR -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ site.data.settings.advanced_settings.google-tag-manager }}');</script>
<!-- End Google Tag Manager IAR -->
{% endif %}

{% if site.data.settings.advanced_settings.google-analytics %}

<!-- Global site tag (gtag.js) - Google Analytics IAR-->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.settings.advanced_settings.google-analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.data.settings.advanced_settings.google-analytics }}');
</script>

<!-- End Google Analytics IAR -->
 {% endif %}